@model RegisterVM

@{
    ViewBag.Title = "";
}
@section head {
    <style>
        main {
            margin: 0;
            background: url('/Images/hostel.jpg') no-repeat;
            background-size: cover;
        }

        .form label {
            background-color: white;
        }

        .form input {
            width: 450px;
        }

        .form {
            display: flex;
            flex-direction: column;
            padding: 20px;
            background: #fff;
            width: 500px;
            height: 1000px;
            margin: auto;
            background-color: #fff;
            box-shadow: 20px 20px 50px grey;
        }

        select {
            width: 450px;
            height: 30px;
        }

        button {
            margin-top: 50px;
            display: inline-block;
            padding: 5px 8px;
            font-size: 20px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #000;
            border: none;
            width: 450px;
        }

            button:hover {
                background-color: #0009;
            }

        span {
            color: red;
        }
    </style>

}
<form class="form" method="post" enctype="multipart/form-data">
    <h1 class="title">Sign Up Student</h1>
    @Html.ValidationSummary(true)

    @Html.LabelFor(m => m.Photo)
    <div>
        <label class="upload">
            <small>Select photo...</small>
            @Html.TextBoxFor(m => m.Photo, new { type = "file", accept = "image/jpeg,image/png", hidden = "" })
            <img src="~/Images/profileIcon.png">
        </label>
    </div>
    @Html.ValidationMessageFor(m => m.Photo)

    @Html.LabelFor(m => m.Username)
    @Html.TextBoxFor(m => m.Username, new { maxlength = 20, autofocus = "" })
    @Html.ValidationMessageFor(m => m.Username)
    @**@


    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { maxlength = 100 })
    @Html.ValidationMessageFor(m => m.Name)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password, new { maxlength = 20 })
    @Html.ValidationMessageFor(m => m.Password)


    @Html.LabelFor(m => m.Gender)
    @Html.DropDownList("Gender", new List<SelectListItem>
{
      new SelectListItem { Text = "I am...", Value = "", Selected=true},
      new SelectListItem { Text = "Female", Value = "Female"},
      new SelectListItem { Text = "Male", Value = "Male"}
}, "Select Gender")

    @Html.LabelFor(m => m.PhoneNumber)
    @Html.TextBoxFor(m => m.PhoneNumber, new { maxlength = 11 })
    @Html.ValidationMessageFor(m => m.PhoneNumber)

    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new { maxlength = 100 })
    @Html.ValidationMessageFor(m => m.Email)



    @Html.LabelFor(m => m.Dob)
        @Html.TextBoxFor(m => m.Dob,new { @type = "date" })
        @Html.ValidationMessageFor(m => m.Dob,"")

    <section>
        <button>Sign Up</button>

    </section>
</form>

@section foot {
    <script>
        // Copy from demo W6B and W7A

        $.validator.setDefaults({ ignore: '' });

        function validatePhoto(f) {
            let reType = /^image\/(jpeg|png)$/i;
            let reName = /^.+\.(jpg|jpeg|png)$/i;

            return f &&
                f.size <= 1 * 1024 * 1024 &&
                reType.test(f.type) &&
                reName.test(f.name);
        }

        let src = null;

        $('.upload input').change(e => {
            let f = e.target.files[0];
            let img = $(e.target).siblings('img')[0];

            if (!src) src = img.src;

            if (validatePhoto(f)) {
                img.src = URL.createObjectURL(f);
            }
            else {
                img.src = src;
                e.target.value = '';
            }

            $(e.target).valid();
        });
    </script>
}

