<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Images/TARC-removebg-preview.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
   
    <link rel="stylesheet" href="~/Content/PagedList.css">
    <link rel="stylesheet" href="~/Content/app.css">
    <!-- Embedded CSS -->
    @RenderSection("head", false)
</head>
<body>
    <!-- Flash message -->
    <div class="info">@TempData["Info"]</div>
    <header>
        @*<div>

                @if (User.Identity.IsAuthenticated)
                {
                    <span>Username = @User.Identity.Name</span>
                }
                @if (Session["PhotoURL"] != null)
                {
                    <img src="~/Photo/@Session["PhotoURL"]">
                }
            </div>*@
        <h1><a href="~/">TARUC OFF-CAMPUS ACCOMMODATION MANAGEMENT SYSTEM</a></h1>
    </header>
   
    <nav class="navbar">
        <ul>
            <li><a href="~/Home/Index">Home</a></li>


            @if (User.IsInRole("Admin"))
            {
                <li><a href="~/Account/UserRecord">User Record</a></li>

            }
        <li>
            @if (User.IsInRole("Admin") || User.IsInRole("Owner") || User.IsInRole("Student"))
            {
                <a href="#">Property</a>
                @*should be all user can see ?*@

            }
            <ul>
                <li><a href="~/Account/Property">All Property</a></li>
                <li><a href="~/Account/AIChat"  id="chatAi"> AI Chat </a></li>
                @if (User.IsInRole("Owner"))
                {
                    <li><a href="~/Account/PropertyOwner2">Post Property</a></li>

                }

                @if (User.IsInRole("Admin"))
                {
                    <li><a href="~/Account/PropertyRecord">Property Post Validation</a></li>

                }
                @if (User.IsInRole("Admin") || User.IsInRole("Owner"))
                {
                    <li><a href="~/Account/AllBooking">Booking && Payment Record</a></li>
                    <li><a href="~/Account/ViewHistoryChat">View All HistoryChat</a></li>
                }
                @if (User.IsInRole("Student"))
                {
                    <li><a href="~/Account/Order">Order</a></li>
                }
            </ul>

        </li>

            <li class="right">
                @*<a href="#"><img src="~/Images/notification.png"></a>
                <ul>
                    <li><a href="#">Promotion</a></li>
                    <li><a href="#">New Update</a></li>
                    <li><a href="#">Maintenance</a></li>

                </ul>*@
                @if (Session["PhotoURL"] != null)
                {
                    <a href="#"><img src="~/Photo/@Session["PhotoURL"]" style="width:40px;height:40px; border-radius:50%;object-fit:cover;"></a>
                }

                

                @if (Session["PhotoURL"] == null)
                {
                    <a href="#"><img src="~/Images/user1.png"></a>

                }
            <ul>

                @if (User.IsInRole("Student") || User.IsInRole("Owner"))
                {
                    <li><a href="~/Account/Profile">Profile</a></li>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="~/Account/Logout">Logout</a></li>
                }
                @if(!User.Identity.IsAuthenticated){
                <li><a href="~/Account/LoginStudent">SignIn As Student</a></li>
                <li><a href="~/Account/Register">SignUp As Student</a></li>
                <li><a href="~/Account/Login">SignIn As Agent/Owner</a></li>
                <li><a href="~/Account/RegisterOwner">SignUp As Agent/Owner</a></li>
                <li><a href="~/Account/LoginAdmin">SignIn As Admin</a></li>
                }

            </ul>
            </li>



        </ul>
    </nav>



    <main>
        <h1>@ViewBag.Title</h1>
        <div>
            @RenderBody()
        </div>
    </main>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://www.instagram.com"><i class="icon ion-social-instagram"></i></a>
            <a href="https://www.snapchat.com"><i class="icon ion-social-snapchat"></i></a>
            <a href="https://www.twitter.com"><i class="icon ion-social-twitter"></i></a>
            <a href="https://www.facebook.com"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Property</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Booking</a></li>
                <li class="list-inline-item"><a href="#">Contact</a></li>
            </ul>
            <p class="copyright">Tunku Abdul Rahman University College © 2022</p>
        </footer>
    </div>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>*@

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <!-- JS library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/app.js"></script>
    <!-- Embedded JS -->
    @RenderSection("foot", false)
</body>
</html>

